NEXT_PUBLIC_SITE_ID="site-wallet"
NEXT_PUBLIC_SITE_NAME="Wallet Paper Themes"
NEXT_PUBLIC_SITE_URL="https://walletpaper.vercel.app"
NEXT_PUBLIC_GA_TRACKING_ID=""
NEXT_PUBLIC_ANALYTICS_SITE_TAG="dev-themes"
NEXT_PUBLIC_PRIMARY_HUB_URL="https://www.your-main-hub.com"
